.box-con-img {
    background-image:url("img/pattern.png") ;
    background-color: #639EF9;
    height: 12em;
}

.logo {
    width: 10em;
    ;
}

h1 {
    font-size: 2em;
}

.scritto-da {
    color: #808081;
}

.the-booleaner {
    color: #3FA3DF;
}

.data {
    color: #808081;
}

.evidenziato {
    background-color: #FDF556;
}

.evidenziato-2 {
    background-color: #FDF556;
}

h3 {
    color: #808081;
}

.blu {
    height: 1em;
    width: 10em;
    background-color: #51A7E1;
    color: white;
    border: 0px;
}

.blu-2 {
    height: 1em;
    width: 10em;
    background-color: #BCE3F0;
    color: black;
    border: 0px;
}

.blu-3 {
    height: 1em;
    width: 10em;
    background-color: #BCE3F0;
    color: black;
    border: 0px;
}